<!--IMPORTANTE= TEMA DE LOS % EN LA IMAGEN-->
<header class="mb-4 border-bottom border-secondary">
    <div>
        <nav class="navbar navbar-expand-md bg-light">
            <div class="container-fluid container">
                <a class="navbar-brand">
                    <img src="https://ucu.edu.uy/sites/all/themes/univer/images/logo_es.png" alt="Logo UCU">
                </a>
                <!-- Boton en modo Mobile -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </div>
</header>